@charset "UTF-8";
body, ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, fieldset, legend, input, textarea, select, td {
  margin: 0;
  padding: 0; }

body {
  font: 12px "微软雅黑";
  word-wrap: break-word; }

a, u, s, del {
  color: #666;
  text-decoration: none; }

fieldset, a img, .bor0 {
  border: 0; }

i, em, b {
  font-style: normal;
  font-weight: 100; }

li {
  list-style: none; }

img {
  vertical-align: middle; }

table {
  border-collapse: collapse; }

/*细线边框*/
.ind2 {
  text-indent: 2em; }

/*溢出隐藏出现省略号*/
.over {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

/*让图片垂直对齐方式*/
.valign {
  text-align: center; }

.valign:after {
  content: "";
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle; }

/*给valign添加个子元素对齐图片*/
.valign img {
  vertical-align: middle; }

/*万能清除浮动法*/
.clear {
  zoom: 1; }

.clear:after {
  content: "";
  clear: both;
  display: block; }

header {
  background: #fbfbfc; }
  header .top1 {
    width: 1200px;
    margin: 0 auto;
    height: 24px;
    padding-top: 3px;
    text-align: right; }
    header .top1 a {
      height: 24px;
      font: 12px/24px "微软雅黑";
      color: #666; }
    header .top1 a.te {
      color: #304e80;
      font-weight: bold; }
    header .top1 span {
      color: #bdbdbd;
      margin: 0 10px 0 11px; }
    header .top1 a.te2 {
      margin-right: 20px; }

#banner {
  width: 1200px;
  margin: 0 auto;
  height: 458px;
  position: relative; }
  #banner .banner-menu {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 235px;
    height: 458px;
    background: #5a5a5a;
    z-index: 100; }
    #banner .banner-menu ul {
      list-style: none;
      width: 190px;
      margin: 0 auto; }
      #banner .banner-menu ul li {
        float: left;
        height: 34px;
        width: 190px; }
        #banner .banner-menu ul li a {
          color: #fff;
          font: 12px/34px "微软雅黑"; }
  #banner span {
    display: block;
    position: absolute;
    width: 42px;
    height: 69px;
    background: url(../images/slides.png) no-repeat; }
  #banner #up {
    left: 235px;
    top: 190px;
    z-index: 100;
    background-position: -85px 0px; }
  #banner #next {
    right: 0px;
    top: 190px;
    background-position: -120px 0px;
    z-index: 100; }

#choice {
  width: 1200px;
  margin: 0 auto;
  height: auto;
  padding: 13px 0px 40px 0px; }
  #choice .channel-column {
    width: 230px;
    height: 330px;
    float: left;
    margin-right: 12.5px;
    position: relative;
    z-index: 1;
    text-align: center;
    cursor: pointer;
    overflow: hidden; }
    #choice .channel-column .column-img {
      width: 155px;
      height: 155px;
      margin: 20px auto 0; }
      #choice .channel-column .column-img img {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        -moz-transition: all .6s;
        -ms-transition: all .6s;
        -o-transition: all .6s;
        -webkit-transition: all .6s;
        transition: all .6s; }
    #choice .channel-column .column-img:hover img {
      transform: scale(1.1);
      -ms-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      -o-transform: scale(1.1); }
    #choice .channel-column .column-title, #choice .channel-column .column-btn {
      position: relative; }
    #choice .channel-column .column-title {
      color: #fff;
      min-height: 82px;
      overflow: hidden; }
    #choice .channel-column .column-title h3 {
      font-size: 24px;
      font-weight: bold;
      margin-top: 25px;
      color: #fff; }
    #choice .channel-column .column-title p {
      font-size: 14px;
      color: #fff; }
    #choice .channel-column .column-btn {
      display: block;
      width: 140px;
      height: 36px;
      line-height: 36px;
      font-size: 14px;
      text-align: center;
      border-radius: 20px;
      background-color: #fff;
      position: absolute;
      bottom: 17px;
      left: 46px;
      -webkit-transition: all 150ms ease-in-out;
      transition: all 150ms ease-in-out; }
    #choice .channel-column .column-btn:hover {
      box-shadow: 0 12px 30px 0 rgba(0, 0, 0, 0.2);
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px); }
  #choice .channel-column:last-child {
    margin-right: 0; }

#guide {
  width: 1200px;
  margin: 0 auto;
  padding: 13px 0px 13px 0px; }
  #guide .footer_m {
    width: 100%;
    min-width: 1200px; }
    #guide .footer_m .footer_m_box_l {
      width: 240px;
      float: left; }
      #guide .footer_m .footer_m_box_l .footer_m_box_l_qq {
        height: 40px;
        padding-bottom: 15px;
        border-bottom: 2px solid #e3e3e3;
        overflow: hidden; }
        #guide .footer_m .footer_m_box_l .footer_m_box_l_qq a {
          display: block;
          width: 34px;
          height: 40px;
          float: left;
          margin-left: 10px;
          text-indent: -9999px;
          background: url(../images/ico_qq.png) no-repeat left top; }
        #guide .footer_m .footer_m_box_l .footer_m_box_l_qq i {
          display: block;
          width: 122px;
          height: 31px;
          line-height: 31px;
          margin: 5px 0 0 10px;
          padding-left: 18px;
          color: #fff;
          float: right;
          background: url(../images/foot_bg1.png) no-repeat left center; }
      #guide .footer_m .footer_m_box_l .footer_m_box_l_tel {
        margin-top: 24px; }
        #guide .footer_m .footer_m_box_l .footer_m_box_l_tel dl {
          padding-left: 44px;
          background: url(../images/foot_ico1.png) no-repeat left top; }
          #guide .footer_m .footer_m_box_l .footer_m_box_l_tel dl dt {
            font-size: 26px;
            height: 36px;
            line-height: 36px;
            overflow: hidden; }
          #guide .footer_m .footer_m_box_l .footer_m_box_l_tel dl dd {
            height: 18px;
            line-height: 18px;
            overflow: hidden; }
    #guide .footer_m .footer_m_box_m {
      float: left;
      margin-left: 60px;
      overflow: hidden; }
      #guide .footer_m .footer_m_box_m dl {
        width: 118px;
        height: 190px;
        float: left;
        padding-left: 26px;
        background: url(../images/foot_line_bg.png) no-repeat left top; }
        #guide .footer_m .footer_m_box_m dl dt {
          height: 18px;
          line-height: 18px;
          overflow: hidden;
          margin-top: 12px;
          font-size: 14px;
          font-weight: bold;
          color: #ff3c00; }
        #guide .footer_m .footer_m_box_m dl dd {
          margin-top: 15px; }
          #guide .footer_m .footer_m_box_m dl dd div {
            height: 28px;
            line-height: 28px;
            overflow: hidden; }
    #guide .footer_m .footer_m_box_r {
      float: right;
      width: 180px;
      text-align: center; }
      #guide .footer_m .footer_m_box_r strong {
        display: block;
        font-size: 14px;
        height: 18px;
        line-height: 18px;
        overflow: hidden;
        margin-top: 12px; }
      #guide .footer_m .footer_m_box_r span {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        width: 100px;
        height: 100px;
        overflow: hidden;
        margin-top: 10px;
        text-align: center; }
        #guide .footer_m .footer_m_box_r span img {
          width: 100px;
          height: 100px; }
      #guide .footer_m .footer_m_box_r i {
        display: block;
        height: 18px;
        line-height: 18px;
        overflow: hidden;
        margin-top: 10px; }

#floor1 {
  width: 100%;
  height: auto;
  padding-top: 20px;
  background: #f5f5f5; }
  #floor1 .floor1 {
    width: 1200px;
    margin: 0 auto; }
    #floor1 .floor1 h3 {
      float: left;
      height: 60px;
      width: 100%;
      font: 22px/60px "微软雅黑"; }
      #floor1 .floor1 h3 span {
        float: right; }
    #floor1 .floor1 .floor1-left {
      float: left;
      width: 230px;
      height: 553px;
      background: #d9002f; }
    #floor1 .floor1 ul {
      float: right;
      width: 970px; }
      #floor1 .floor1 ul li {
        width: 230px;
        height: 270px;
        background: #fff;
        margin: 0px 0px 12.5px 12.5px;
        float: left; }
        #floor1 .floor1 ul li .sf {
          width: 230px;
          height: 173px;
          margin-top: 14px; }
          #floor1 .floor1 ul li .sf img {
            display: inline-block; }
        #floor1 .floor1 ul li p {
          font: 12px/26px "微软雅黑";
          color: #979797;
          text-align: center; }
          #floor1 .floor1 ul li p b {
            font-weight: bold;
            color: #343434;
            display: block; }

footer {
  width: 1200px;
  margin: 0 auto;
  height: 136px;
  padding-top: 15px;
  border-top: solid 1px #dcdcdc;
  text-align: center;
  padding-top: 16px; }
  footer div {
    font: 12px/42px "微软雅黑"; }
    footer div a {
      color: #333; }
    footer div span {
      color: #bbb;
      padding: 0 12px 0 13px; }
  footer p {
    font: 12px/24px "微软雅黑";
    color: #333;
    width: 100%;
    text-align: left; }
    footer p b {
      font-weight: bold; }
    footer p a {
      margin: 3px; }
  footer .text_c {
    text-align: center; }
