@charset "utf-8";
$fontSize:12px;
$fontfamily:"微软雅黑";
@mixin juzhong{width:1200px;margin:0 auto;}
.fl{float:left;}
.fr{float:right;}
.clearfix{zoom:1;}
header{
    .top1{
        height: 12px;
        background-color: #f2f2f2;
        line-height: 12px;
        font-size: 12px;
        padding: 9px 0;
        z-index: 64;
        .top1c{@include juzhong
            .welcome{
                    color: #646464;
                    font-size: 12px;
                    padding-left: 5px;  
                    font-family: $fontfamily;
            }
            .login{
                a{color:#666;
                padding: 0 22px;
                font-family: $fontfamily;
                border-right: #bfbfbf 1px solid;
                }
                a.denglu{color:#FF3C00;}
                a:hover{color:#FF3C00;}
            }
        }
    }
    .top2{@include juzhong;
        padding-top:30px;
        height:78px;
        .logo{
            width: 325px;
            height: 36px;
            margin: 7px 125px 0 5px;
            a{
            display: inline-block;
            width: 325px;
            height: 36px;
            background: url(../images/logo.png) no-repeat;
            }
        }
        .search-box{
            width: 540px;
            margin-right: 57px;
            .width-fixed {
                width: 536px;
                height: 40px;
            }
            .fixed-search {
                height: 40px;
                line-height: 40px;
                float: left;
                border: 2px solid #e1e1e1;
                position: relative;
                margin: 0px 0 5px 0;
                .search-input {
                    width: 84%;
                    height: 40px;
                    line-height: 40px;
                    padding-left: 2%;
                    background: #fff;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    outline: none;
                    border: none;
                    font-size: 14px;
                    color: #b2b2b2;
                    }
                    .search_btn {
                        width: 76px;
                        height: 40px;
                        background:#0070ce;
                        position: absolute;
                        top: 0px;
                        right: 0;
                        transition: all .2s;
                         i {
                                display: block;
                                margin: 10px 0px 0 30px;
                                width: 21px;
                                height: 21px;
                                background: url(../images/index-header-public.png) no-repeat -17px -0px;
                            }
                    a {
                        text-decoration: none;
                        color: #7f7f7f;
                        cursor: pointer;
                        outline: 0;
                    }
                }
            }
            .hottest{
                width:540px;
                height:17px;
                overflow: hidden;
                display: inline-flex;
                a {
                    color: #909090;
                    font-size: 12px;
                    margin-right: 12px;
                    font-family: $fontfamily;
                    i {
                        display: inline-block;
                        width: 1px;
                        height: 9px;
                        background: url(../images/index-header-public.png) 0 0;
                        margin-left: 12px;
                    }
                }
                a:hover{color:#00a1e5}
             }  
        }
        .right-but{
            height: 44px;
            a{
                height: 42px;
                width: 125px;
                text-align: center;
                line-height: 42px;
                border: #c9c9c9 1px solid;
                display: block;
                color: #5b5b5b;
                font-size: 15px;
                transition: all 0.2s;
                -webkit-transition: all 0.2s;
                -moz-transition: all 0.2s;
                border-radius: 2px;
                 font-family: $fontfamily;
            }
        }
    }
    .nav{@include juzhong;
        height:42px;
        .all-classify {
            position: relative;
            z-index: 11;
            .all-classify-secord {
                height: 42px;
                width: 170px;
                background-color: #0070ce;
                line-height: 42px;
                display: block;
                color: #fff;
                font-size: 15px;
                margin-right: 30px;
                font-family: $fontfamily;
            }
            i {
            display: inline-block;
            width: 19px;
            height: 12px;
            background: url(../images/index-header-public.png) 0 -27px no-repeat;
            margin-right: 10px;
            margin-left: 22px;
            }
            .secord-nav {
                background: rgba(0, 0, 0, 0.6)!important;
                filter: Alpha(opacity=60);
                background: #000;
                width: 170px;
                height: 458px;
                position: absolute;
                top: 42px;
                left: 0;
                .secord-nav-box {
                    height:57px;
                    .current{
                        background: rgba(127, 127, 127, 0.6)!important;
                        background: #7f7f7f;
                    }
                    .secord-nav-a {
                        display: block;
                        height: 57px;
                        width: 170px;
                        line-height: 57px;
                        color: #fff;
                        font-size: 15px;
                        font-family: $fontfamily;
                        .bjq-icon {background: url(../images/index-header-public.png) 0 -45px no-repeat;}
                        .pm-icon {background: url(../images/index-header-public.png) -22px -45px no-repeat;}
                        .sj-icon {background: url(../images/index-header-public.png) -114px -45px no-repeat;}
                        .sp-icon {background: url(../images/index-header-public.png) -68px -46px no-repeat;}
                        .ppt-icon{background: url(../images/index-header-public.png) -46px -45px no-repeat;}
                        .scb-icon{background: url(../images/index-header-public.png) 0 -69px no-repeat;}
                        .gd-icon { width:20px;background: url(../images/index-header-public.png) -161px -45px no-repeat;}
                        i {
                            display: inline-block;
                            height: 19px;
                            width: 19px;
                            margin: 19px 18px 0 22px;
                            float: left;
                        }              
                         em {
                            display: inline-block;
                            width: 7px;
                            height: 13px;
                            background: url(../images/index-header-public.png) -30px -27px;
                            float: right;
                            margin: 22px 20px 0 0;
                            transition: all 0.2s;
                        }
                        
                    }
                    .thrid-nav{
                        position: absolute;
                        top: -1px;
                        left: 170px;
                        padding: 20px 10px 0;
                        background-color: #fff;
                        width:1010px;
                        height:439px;
                        z-index:5;
                        display: none;
                        .thrid-nav-div {
                            width: 280px;
                            margin: 0 25px;
                            margin-bottom: 20px;
                            h3 {color: #333;
                                font-size: 14px;
                                line-height: 30px;
                                border-bottom: #e2e2e2 1px solid;
                                padding-bottom: 5px;
                                font-family: $fontfamily;
                            }
                            .thrid-nav-a {
                                color: #333;
                                padding: 8px 0 20px;
                                margin-left: -3px;
                                overflow: hidden;
                                height: 55px;
                                 .orange {
                                        color:#FF3C00;
                                    }
                                a {
                                    color: #333;
                                    display: inline;
                                    float: left;
                                    font-size: 13px;
                                    border-left: 1px #b2b2b2 solid;
                                    height: 17px;
                                    line-height: 13px;
                                    margin: 8px 10px 5px -8px;
                                    padding-left: 11px;
                                    white-space: nowrap;
                                    padding-right: 11px;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    max-width: 90px;
                                    font-family: $fontfamily;
                                }
                            }
                        }
                    }
                    
                    
                } 
            }     
        }
        .classify-nav-other{
            a{
                display: inline-block;
                font-weight: bolder;
                line-height: 42px;
                color: #333;
                font-size: 15px;
                margin: 0 25px;  
                font-family: $fontfamily;
            }
            a:hover{color:#0070ce;}
        }
    }
}
nav{height:41px;background:#bebebe;
    ul{@include juzhong;
        li{float:left;
        text-align:center;
        height:41px;
        line-height:41px;
        width:149px;
        border-right:solid 1px #aeaeae; 
            a{font-size:14px;
            color:#fff;
            font-weight:bold;}
           }
        .hover{background-color:#a4a4a4} 
        li:hover{background-color:#a4a4a4}
    }
}
#Sticknav{
        display:none;
        width: 100%;
        position: fixed;
        z-index: 100;
        background: #fff !important;
        width: 100%;
        height: 55px;
        top:-60px;
        padding-top: 5px;
        z-index: 11;
        border-bottom: 1px #eee solid;
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
       .top2{@include juzhong;
        height:78px;
        .logo{
            width: 325px;
            height: 36px;
            margin: 7px 125px 0 5px;
            a{
            display: inline-block;
            width: 325px;
            height: 36px;
            background: url(../images/logo.png) no-repeat;
            }
        }
        .search-box{
            width: 540px;
            margin-right: 57px;
            .width-fixed {
                width: 536px;
                height: 40px;
            }
            .fixed-search {
                height: 40px;
                line-height: 40px;
                float: left;
                border: 2px solid #e1e1e1;
                position: relative;
                margin: 0px 0 5px 0;
                .search-input {
                    width: 84%;
                    height: 40px;
                    line-height: 40px;
                    padding-left: 2%;
                    background: #fff;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    outline: none;
                    border: none;
                    font-size: 14px;
                    color: #b2b2b2;
                    }
                    .search_btn {
                        width: 76px;
                        height: 40px;
                        background:#0070ce;
                        position: absolute;
                        top: 0px;
                        right: 0;
                        transition: all .2s;
                         i {
                                display: block;
                                margin: 10px 0px 0 30px;
                                width: 21px;
                                height: 21px;
                                background: url(../images/index-header-public.png) no-repeat -17px -0px;
                            }
                    a {
                        text-decoration: none;
                        color: #7f7f7f;
                        cursor: pointer;
                        outline: 0;
                    }
                }
            }
            .hottest{
                width:540px;
                height:17px;
                overflow: hidden;
                display: inline-flex;
                a {
                    color: #909090;
                    font-size: 12px;
                    margin-right: 12px;
                    font-family: $fontfamily;
                    i {
                        display: inline-block;
                        width: 1px;
                        height: 9px;
                        background: url(../images/index-header-public.png) 0 0;
                        margin-left: 12px;
                    }
                }
                a:hover{color:#00a1e5}
             }  
        }
        .right-but{
            height: 44px;
            a{
                height: 42px;
                width: 125px;
                text-align: center;
                line-height: 42px;
                border: #c9c9c9 1px solid;
                display: block;
                color: #5b5b5b;
                font-size: 15px;
                transition: all 0.2s;
                -webkit-transition: all 0.2s;
                -moz-transition: all 0.2s;
                border-radius: 2px;
                 font-family: $fontfamily;
            }
        }
    }  
}
/*banner切换*/
#banner{ width:100%;
         height:458px;
         position:relative;
     .banner-menu{position:absolute;left:0px;top:0px;width:235px;height:458px;background:rgb(90,90,90);z-index:100;
        ul{list-style: none; width:190px;margin: 0 auto;
            li{float:left; height:34px;width: 190px;
                a{color:#fff;font:12px/34px $fontfamily;}
            }
         }
     }
    span{ display:block;position:absolute;width:42px;height:69px;background:url(../images/slides.png) no-repeat;}
    #up{left:180px; top:190px; z-index: 100;background-position: -85px 0px;}
    #next{right:0px;top:190px; background-position: -120px 0px; z-index: 100;}
}
/*精选*/
#choice{@include juzhong;height:auto; padding:13px 0px 40px 0px;;
    .channel-column{ width:230px; height:330px; float:left; margin-right:12.5px; position:relative; z-index:1; text-align:center; cursor:pointer; overflow:hidden;
        .column-img{ width:155px; height:155px; margin:20px auto 0;
            img{display:block;position:relative;width:100%;height:100%;-moz-transition: all .6s;-ms-transition: all .6s;-o-transition: all .6s;-webkit-transition: all .6s;transition: all .6s;}
        }
        .column-img:hover img{ transform: scale(1.1);-ms-transform: scale(1.1);-moz-transform: scale(1.1);-webkit-transform: scale(1.1);-o-transform: scale(1.1);}
    .column-title,.column-btn{ position:relative;}
    .column-title{ color:#fff; min-height:82px; overflow:hidden;}
    .column-title h3{font-size:24px; font-weight:bold; margin-top:25px;color: #fff;}
    .column-title p{font-size:14px;color: #fff}
    .column-btn{display:block; width:140px; height:36px; line-height:36px; font-size:14px; text-align:center; border-radius:20px; background-color:#fff; position:absolute; bottom:17px; left:46px; -webkit-transition: all 150ms ease-in-out; transition: all 150ms ease-in-out;}
    .column-btn:hover{ box-shadow: 0 12px 30px 0 rgba(0, 0, 0, 0.2); -webkit-transform: translateY(-2px); transform: translateY(-2px);}
    }
    .channel-column:last-child{margin-right:0;}
}
/*1楼*/
#floor1{ width: 100%; height:auto; padding-top:20px; background:#f5f5f5;
       .floor1{@include juzhong; 
                h3{float:left;height:60px; width:100%;font:22px/60px $fontfamily;
                    span{float:right;}
                }
                .floor1-left{float:left;width:230px; height:553px; background:#d9002f;
                   .floor1-left-top{width:230px;height:56px;
                    a{width:115px; height:56px; background: #ab0126; display:inline-block; text-align: center;font:18px/56px $fontfamily; color:#fff;}
                   }
                   .floor1-left-bottom{padding:25px; height:auto;
                       .floor1-left-bottom-nav{ width:180px;
                           ul{border-bottom: solid 1px #e1395a; padding-bottom:18px;margin-bottom:26px;
                               li{font:14px/50px $fontfamily; height:50px;
                                    i{display:inline-block; width:30px; height:30px; background:#ab0126;  color:#fff;text-align:center;font:14px/30px $fontfamily; margin-right:8px;}
                                    a{ color:#fff;}
                                    a:hover{color:#ab0126;}
                           }
                         
                       }
                        .showimg{height:142px;width:180px;background:#fff;}
                       }
                       
                   }
                }
                #show{float:right;width:970px;
                    li{width:230px;height:270px; background:#fff;margin: 0px 0px 12.5px 12.5px; float:left;
                        .sf{width:230px; height:173px; margin-top:14px;
                            img{display:inline-block;}
                        }
                        p{font:12px/26px $fontfamily;color:#979797;text-align:center;
                            b{font-weight: bold;color:#343434; display:block;}
                        }     
                    }
                }
       }    
}

/*压力仪表*/
#floor2{width: 100%; height:auto; padding-top:20px; background:#f5f5f5;
    .floor2-top{@include juzhong; height:60px;font:22px/60px $fontfamily;}
    .floor2-bottom{@include juzhong; height:513px;
        .divbox{height:450px;position:relative; border-left: 1px solid #ddd;border-top: 1px solid #ddd;
            a{border-right: 1px solid #ddd;border-bottom: 1px solid #ddd; position:absolute; overflow:hidden;
             img{display:block;}
             p{display:block;position:absolute;color: #fff; box-sizing:border-box; padding:10px; z-index:10; height:auto; width:100%;left:0px;bottom:-100px;background:#999;font: 12px/24px $fontfamily;}
            }
            .ad1{left:0px;top:0px;}
            .ad2{left:601px;top:0px;}
            .ad3{left:902px;top:0px;}
            .ad4{left:601px;top:151px;}
            .ad5{left:0px;top:301px;}
            .ad6{left:300px;top:301px;}
            .ad7{left:601px;top:301px;}
        }
    }
}
/*底部导航*/
#guide{@include juzhong; padding:13px 0px 13px 0px;
    .footer_m{width:100%;min-width:1200px;
        .footer_m_box_l{width:240px;float:left;
            .footer_m_box_l_qq{height:40px;padding-bottom:15px;border-bottom:2px solid #e3e3e3;overflow:hidden;
                a{display:block;width:34px;height:40px;float:left;margin-left:10px;text-indent:-9999px;background:url(../images/ico_qq.png) no-repeat left top;}
                i{display:block;width:122px;height:31px;line-height:31px;margin:5px 0 0 10px;padding-left:18px;color:#fff;float:right;background:url(../images/foot_bg1.png) no-repeat left center;}
            }
            .footer_m_box_l_tel{margin-top:24px;
                dl{padding-left:44px;background:url(../images/foot_ico1.png) no-repeat left top;
                    dt{font-size:26px;height:36px;line-height:36px;overflow:hidden;}
                    dd{height:18px;line-height:18px;overflow:hidden;}
                }
            }
        }
        .footer_m_box_m{float:left;margin-left:60px;overflow:hidden;
            dl{width:118px;height:190px;float:left;padding-left:26px;background:url(../images/foot_line_bg.png) no-repeat left top;
                dt{height:18px;line-height:18px;overflow:hidden;margin-top:12px;font-size:14px;font-weight:bold;color:#ff3c00;}
                dd{margin-top:15px;
                    div{height:28px;line-height:28px;overflow:hidden;}
                }
            }
        
        }
        .footer_m_box_r{float:right;width:180px;text-align:center;
            strong{display:block;font-size:14px;height:18px;line-height:18px;overflow:hidden;margin-top:12px;}
            span{display:inline-block;*display:inline;*zoom:1;width:100px;height:100px;overflow:hidden;margin-top:10px;text-align:center;
                img{width:100px;height:100px;}
            }
            i{display:block;height:18px;line-height:18px;overflow:hidden;margin-top:10px;}
        }
    }
}
/*底部*/
footer{@include juzhong;height:136px; padding-top: 15px; border-top:solid 1px #dcdcdc;text-align:center; padding-top:16px;
    div{font:12px/42px $fontfamily;
        a{color:#333;}
        span{color:#bbb; padding:0 12px 0 13px;}
    }
    p{font:12px/24px "微软雅黑";color:#333; width: 100%; text-align:left;
        b{font-weight:bold;}
        a{ margin:3px;}
    }
    .text_c{ text-align: center;}
}